.popup__close {
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
  padding: 0;
  outline: none;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .popup__close {   
      width: 25px;
      height: 25px;
      top: -35px;
      right: 0;
      background-size: cover;
            }
          }

@media screen and (max-width: 480px) {
  .popup__close {
    width: 20px;
    height: 20px;
      }
}
