.popup__input {
  max-width: 358px;
  font-size: 14px;
  width: 100%;
  line-height: 16.94px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
}

.popup__input:first-child {
  padding-bottom: 10px;

}


